* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 30px 20px 30px 20px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin-bottom: 3%;
    background-color: rgb(44, 43, 43);
    justify-content: space-around;
    border-radius: 0.5rem;
    color: white;
    border: 2px solid green;
    padding: 0 12px 0 30px;
}
.box img {
    margin-top: 4%;
    margin-left: 17px;
    width: 80%;
    height: 60%;
    border-radius: 0.3rem;
    background-size: cover;
}
.add-cart {
    cursor: pointer;
    background-color: white;
    border-radius: 0.3rem;
    border: royalblue;
    height: 7%;
    width: 40%;
    margin-bottom: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-cart:active {
    border: 2px solid rgb(221, 46, 46);
    box-sizing: border-box;
}
@keyframes fade-in {
    0% { opacity: 0; } /* Starting state: fully transparent */
    100% { opacity: 1; } /* Ending state: fully opaque */
}

#int-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fade-in 0.1s ease-in-out 0s forwards; /* Apply the fade-in animation */
}
#go-back {
    height: 30%;
    width: 10%;
    background-color: blue;
    position: relative;
    top: 35%;
    left: 5%;
    border-radius: 2rem;
}











/* #inventory {
    position: fixed;
    height: 100%;
    left: 0%;
    top: 0%;
    width: 100%;
    display: none; /* Initially hidden */
    /* transition: all 2s ease-in-out; */
    /* transition: all 2s ease-in-out; */
/* } */
/* .inventory-list { */
    /* height: 100%; */
    /* width: 40%; */
    /* position: relative; */
    /* right: -40%; Initially off-screen to the right */
    /* background-color: aqua; */
    /* transition: all 2s ease-in-out; Transition effect */
/* } */
/* .go-back { */
    /* transition: all 2s ease-in-out; */
    /* height: 25%; */
    /* width: 10%; */
    /* background-color: blue; */
    /* position: relative; */
    /* top: 210px;
    left: 100px; */
/* } */ 